.DS_Store
.idea/copilot.data.migration.agent.xml
.idea/copilot.data.migration.ask.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/copilot.data.migration.edit.xml
.idea/COSYNE2026.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
images/.DS_Store
